* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    color: #ccc;
    padding: .2vw;
    margin: 2vw;
    grid-column: 1 / -1;
    height: calc(7vh + 20px);
    padding-top: .2vw;
    padding-bottom: .2vw;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 0.5vw;
    text-decoration: none;
    color: #fff;
    height: 100%;
}

.logo img {
    height: 100%;
    width: auto;
    max-width: 100%;
    min-width: 100%;
}

.page-title {
    margin: 0;
    font-size: 1vw;
    font-weight: 400;
    color: #ccc;
    padding-left: .5vw;
    margin-right: 15vw;
    white-space: nowrap;
}

.navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    display: none;
    cursor: pointer;
    padding: 2vw;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-toggle-icon {
    display: block;
    width: 2vw;
    height: 0.2vw;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding-left: 2vw;
    padding-right: 2vw;
}

.navbar-menu li {
    margin-left: 2vw;
}

.navbar-menu li a {
    color: #0170C1;
    font-weight: 700;
    text-decoration: none;
}

.content {
    grid-column: 1 / -1;
}

.footer {
    background-color: #0170C1;
    color: #F5F5F5;
    padding: .25vw;
    text-align: center;
    grid-column: 1 / -1;
    height: 10vh;
    margin: 0;
    display: flex;
    align-items: center;
    border-top-right-radius: 12vh;
}

.footer-column {
    flex: 1;
    padding: 0 1.25vw;
    font-size: 75%;
}

.footer-column:first-child {
    padding-right: 1.5vw;
}

.footer-column:last-child {
    padding-left: 1.5vw;
}

.footer-column ul {
    list-style: none;
    padding: .15vw;
    display: flex;
    justify-content: flex-start;
}

.footer-column ul.social-media {
    margin-left: auto;
}

.footer-column li {
    margin-right: .5vw;
}

/* .footer-column ul:not(.social-media) li:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: .25vw;
    height: .25vw;
    background-color: #fff;
    border-radius: 50%;
    margin-left: .5vw;
} */

.footer-column li a {
    color: #F5F5F5;
    text-decoration: none;
}

.footer-column li a:hover {
    text-decoration: underline;
}

.footer-column p {
    margin-right: 0.5vw;
}

/* .footer-column p:last-child {
    margin-bottom: 2vw;
}
 */
.footer p {
    margin: 0;
    text-align: justify;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0.1vw;
    background-color: #0074D9;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* Media queries */
@media screen and (min-width: 480px) {
    body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    body {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        padding: 2vw;
        background-color: #222;
    }

    .navbar-menu li {
        margin-left: 0;
        margin-bottom: 2vw;
    }

    .navbar-toggle-label {
        display: block;
    }

    .navbar-toggle:checked + .navbar-toggle-label .navbar-toggle-icon {
        transform: rotate(45deg);
        background-color: #fff;
    }

    .navbar-toggle:checked + .navbar-toggle-label:before {
        content: '';
        position: absolute;
        width: 2vw;
        height: 0.2vw;
        background-color: #fff;
        transform: rotate(-90deg);
        top: 2vw;
    }

    .navbar-toggle:checked ~ .navbar-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    /* For screens smaller than 768px (mobile devices) */
    .navbar {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin: 2vw;
    }

    .navbar-menu {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    /* For screens 768px and larger (desktop) */
    .navbar {
        padding-left: .2vw;
        padding-right: .2vw;
        padding-top: .2vw;
        padding-bottom: .2vw;
    }
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 1536px) {
    .footer-column {
        font-size: 60%;
    }
}